.banner-container {
  height: 300px;
  width: 100vw;
  color: white;
}

.banner {
  height: 300px;
  width: 100%;
  background-size: 100vw 300px;
  position: absolute;
  top: 0;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 15px;
  backdrop-filter: brightness(55%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) inset;
}

h1 {
  font-size: 34px;
  text-transform : capitalize;
}
.info {
  margin-top: 50px;
  font-size: small;
  display: flex;
  align-items: center;
}

.movieInfo {
  display: flex;
  align-items: center;
}
.info p {
  margin-right: 12px;
}
.infoIcon {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.slick-dots{
  margin-bottom: 50px;  
}

.slick-dots li button{
  color: rgb(255, 255, 255);

}

.slick-dots li button:before {
  color: #c9c9c9ad;
  font-size: 10px;
  opacity: 0.8;
  
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .banner-container {
    height: 550px;
  }
  .banner {
    height: 100%;
    background-size: 100vw 550px;
  }
}
